/* Practice CustomFonts Style Sheet */

/* .websafe{
    font-family: Arial, Courier, "Courier New";
}
.google {
    font-family: 'Dosis', Georgia, serif;
} */
body{
    font-family: 'Dongle', sans-serif;
}