.exp{
    display: flex;
    flex-direction: column;
  }
  .projects{
    display: flex;
    margin: 5% 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .project{
    border: 1px solid;
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 10px rgba(56, 55, 55, 0.384);
    margin: 5px;
    transition: transform 0.2s ease-in-out;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .project:hover{
    box-shadow: 5px 5px rgba(243, 255, 131, 0.877);
    animation: updown 1.2s ease-in-out infinite;
    
  }
  @keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
      box-shadow: 8px 8px rgba(243, 255, 131, 0.363);
    }
    75%{
      transform: translateY(-1px);
    }
    100% {
      transform: translateY(0);
    }
  }
.vid{
    width: 50%;
    height: auto;
}
.exp-btns{
    text-decoration: none;
    margin-top: 15px;
    border: 1px solid;
    padding: 4px;
    font-size: small;
    border-radius: 2px;
}
.exp-img{
  margin-left: 75px;
}

/* Table Styling */
th{
  font-weight: 900;
  background: linear-gradient(rgb(0, 183, 255),rgba(226, 226, 57, 0.555));
  color: black;
}
table{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
tr,td,th{
  border: solid 1px;
  padding: 10px;
}
caption{
  font-size: larger;
}
/* Mobile view for tables */
@media screen and (max-width:768px){
  table{
    width: 50%;
  }
  tr,th,td{
    padding: fit-content;
  }
}