footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}
.main-img{
    margin: 0 5%;
    width: 25%;
    height: 25%;
    border: #314441 1px;
    border: solid 1px; 
    color: #384D48; 
    border-radius: 5px;
}

.navButtons:link{
    text-decoration: none;
    border-radius: 5px;
    border:gray solid 1px;
    color: #384D48;
    background-color: #D8D4D5;
    padding: 5px;
}
.navButtons:visited{
  background-color: #c2bebf;
  color: #00967f;
}
.navButtons:active{
  color: white;
  background-color: black;
}
a:hover{
  color: black ;
}

.navButtons:hover, .skills>*:hover{
    color: #314441;
    box-shadow: 5px 5px 10px rgba(56, 55, 55, 0.384);
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: #384D48 solid;
    background-color: #ACAD94;
    margin-bottom: 1%;
    padding-bottom: 1%;
    height: 140px;
    position: relative;
    top: 0px;
}
header>h1{
    padding-left: 25px;
}
nav>ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style-type: none;
}
li{
    padding: 10px;
    
}
.skills > *{
    border-radius: 5px;
    border: gray;
    background-color: rgba(128, 128, 128, 0.384);
    padding: 15px;
    width: min-content;
    margin: 10px;
}
.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: auto;
}
body{
    font-family: 'Ysabeau', sans-serif;
    font-weight: bold;
    margin: 0px;
    background-color: #D8D4D5 ;
}
.footer-links>a{
    margin: 0 25px;
}
main{
    margin: 0px 5%;
    position: relative;
    height: 100%;
}
.home-main{
  display: flex;
}
/* Define the keyframes for the animation */
@keyframes fall-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }

}
.header-name{
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  align-items: center;
  justify-content: center;
}
/* Apply the animation to each letter of the H3 */
h3.fall-in {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}

h3.fall-in span {
  display: inline-block;
  animation-name: fall-in;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0; 
}
.name{
    position: absolute;
    top: 35%;
    left: 6%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    z-index: 2;
}
/* Lightsaber animation and container styling */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.lightsaber {
  position: absolute;
  left: 10%;
  width: 100px;
  height: 100px;
}
.lightsaber-handle {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 20px;
  height: 50px;
  background-color: #000;
  border-radius: 5px;
  z-index: 1;
}
.lightsaber-blade {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 120%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #fff, 0 0 5px #fff, 0 0 25px #ff0000, 0 0 35px #ff0000, 0 0 50px #ff0000, 0 0 75px #ff0000;
  z-index: 0;
}
.lightsaber1 {
  transform: rotate(45deg);
}
.lightsaber2 {
  transform: rotate(-45deg);
}
.lightsaber-blade-red {
  box-shadow: 0 0 15px #fff, 0 0 5px #fff, 0 0 25px rgb(30, 255, 0), 0 0 35px rgb(9, 255, 0), 0 0 50px rgb(51, 255, 0)
}
/* Table Styling */
th{
  font-weight: 900;
  background: linear-gradient(rgb(0, 183, 255),rgba(226, 226, 57, 0.555));

}
table,tr,td,th{
  border: solid 1px;
}
.number{
  text-decoration: none;
  color: #00967f;
}
caption{
  font-weight: 900;
  font-size: larger;
}
/* Custom Font import and application */
#name{
  font-family: 'branda';
}
@font-face {
  font-family: 'branda';
  src: url(../fonts/Branda-yolq.ttf) format('ttf');
}
#navButtons{
  background-color: #314441;
  color: #D8D4D5;
}